{% extends "base.html" %}
<div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
        {% block content %}
        {% include "partials/content.html" %}
        {% if page and page.meta and page.meta.comment %}
        <script src="https://giscus.app/client.js"
            data-repo="timedegree/notebook"
            data-repo-id="R_kgDOH3AFLA"
            data-category="Ideas"
            data-category-id="DIC_kwDOH3AFLM4CZk_7"
            data-mapping="title"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="zh-CN"
            crossorigin="anonymous"
            async>
        </script>
        {% endif %}
        {% endblock %}
    </article>
</div>